@import "../../scss/screen-sizes.scss";
@import "../../scss/themes.scss";

.EmployeeDetails {
    width: 100%;

    &__Header {
        width: 100%;
        background-color: $bg-colour;
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
        
        &__Back {
            background-color: initial;
            border: none;
            color: grey;
            font-size: 0.8rem;
            cursor: pointer;
        }
    }

    
    &__Form {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 5px;

        @media only screen and (min-width: $tablet) {
            padding-left: 10%;
            width: 600px;
        }

        &__Contract {
            display: block;
        }
        > label {
            font-weight: 340;
        }
        > input {
            margin-bottom: 15px;
            padding: 5px;
            border-radius: 5px;

        }

        &__SaveBtn {
            background-color: $main-colour;
            border: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            padding: 10px 30px;
            margin-top: 5px;
            display: inline;
            width: 150px;
            height: 50px;
            margin-right: 10px;
        }
        &__CancelBtn {
            display: inline;
            width: 150px;
            height: 50px;
            cursor: pointer;
            background-color: lightgrey;
            padding: 10px 30px;
            margin-top: 5px;
            border-radius: 5px;
        }
    }
}